/* *{
margin: 0;
padding: 0;
box-sizing: border-box;
} */

html{
    font-size: 62.5%;
}

h1{
    font-size: 3rem;
    text-align: center;
}

li{
    font-size: 2rem;
}

section div{
margin:0 auto;
width:95%;
}

section div img{
    width:100%;
}